<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PAP.Properties.Settings.projetoConnectionString" connectionString="Data Source=ANDRÉ\SQLEXPRESS;Initial Catalog=projeto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PAP.Properties.Settings.PAPConnectionString" connectionString="Data Source=ANDRÉ\SQLEXPRESS;Initial Catalog=PAP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PAP.Properties.Settings.PAPConnectionString1" connectionString="Data Source=INES-PC\SQLEXPRESS;Initial Catalog=PAP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PAP.Properties.Settings.PAPConnectionString2" connectionString="Data Source=DESKTOP-9AD4CNS\SQLEXPRESS;Initial Catalog=PAP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>